h1 {font-family: 'Courier New', Courier, monospace;
font-size:15px;text-align: center;}
p {font-family: 'Courier New', Courier, monospace;
    font-size:18px;text-align: center;}

    body {background-color:lightgrey;}